#preloader-wrapper {
  background-color: rgb(234, 234, 234);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  -webkit-animation: fadeout 3s;
          animation: fadeout 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#preloader-wrapper img {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -150px;
  z-index: 1000;
}

#preloader {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

#preloader-logo {
  position: relative;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  float: left;
  text-align: center;
  -webkit-animation: rotate-scale-up 3s linear 0.125s 1 both;
  animation: rotate-scale-up 3s linear 0.125s 1 both;
  z-index: 1;
}
#preloader-logo img {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 1%;
}

.page-wrapper {
  z-index: 10000;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .logo {
  width: 200px;
  padding-bottom: 15px;
}
.nav .location {
  background-color: rgb(234, 234, 234);
  width: 100%;
  text-align: center;
  font: rgb(53, 53, 53);
  font-size: 18px;
  padding: 20px 0;
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.06);
}
.nav .location i {
  padding-right: 15px;
  font: rgb(53, 53, 53);
}

.explore, .how-it-works {
  margin-bottom: 50px;
}

h2, p, button {
  margin: 0;
}

.explore {
  background-color: rgb(246, 246, 246);
  padding: 30px;
  text-align: center;
}
.explore h2 {
  padding: 30px 0;
}
.explore p {
  font-size: 20px;
  font-weight: 300;
  padding: 30px 0;
}

.how-it-works {
  margin-left: 15px;
  margin-right: 15px;
}
.how-it-works ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.how-it-works ol li {
  counter-increment: my-awesome-counter;
  background-color: rgb(246, 246, 246);
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  position: relative;
}
.how-it-works ol li::before {
  content: counter(my-awesome-counter);
  background: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  color: white;
  text-align: center;
  margin-right: 50px;
  position: absolute;
  left: -12px;
  top: 8px;
}
.how-it-works ol li:hover {
  background-color: rgba(147, 86, 220, 0.1450980392);
}
.how-it-works ol li:hover i {
  color: #9356DC;
}
.how-it-works ol li i {
  padding: 0 20px;
}

.restaurant-section {
  background-color: rgb(243, 243, 243);
  padding-bottom: 50px;
}
.restaurant-section h2 {
  padding: 50px 0 0 15px;
}
.restaurant-section h2, .restaurant-section h4 {
  font-weight: 800;
  margin: 0;
}
.restaurant-section .restaurant-listings {
  display: flex;
  flex-flow: row wrap;
}
.restaurant-section .restaurant-listings .restaurant {
  margin: 1em;
  height: auto;
  background-color: white;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image {
  text-decoration: none;
  color: black;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image img {
  aspect-ratio: 2/1.1;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
  width: 100%;
  -o-object-position: 0 60%;
     object-position: 0 60%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .new {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  padding: 0.625em 2em;
  border-radius: 0.125em;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info {
  display: flex;
  padding: 1.25em;
  line-height: 1.5em;
  font-size: 1.25em;
  align-items: center;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .restaurant-name-location {
  flex: 3;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .restaurant-name {
  font-size: 1.2em;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .restaurant-location {
  font-weight: 300;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .heart-position-container {
  align-self: center;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .heart-position-container .heart {
  padding-right: 1em;
  align-self: center;
  cursor: pointer;
  bottom: 30px;
  right: 0;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .heart-position-container .empty-heart {
  transition: 0.4s;
  position: absolute;
  z-index: 1;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .heart-position-container .empty-heart:hover {
  opacity: 0;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .heart-position-container .full-heart {
  position: absolute;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 10;
  transition: 0.4s;
  opacity: 0;
}
.restaurant-section .restaurant-listings .restaurant .restaurant-image .restaurant-info .heart-position-container .full-heart:hover {
  opacity: 1;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    -webkit-transform-transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    -webkit-transform-transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    -webkit-transform-transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    -webkit-transform-transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    -webkit-transform-transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    -webkit-transform-transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@media screen and (min-width: 900px) {
  .restaurant {
    flex: 1 1 33%;
  }
}/*# sourceMappingURL=homepage_styles.css.map */