#preloader-wrapper
    background-color: rgb(246, 246, 246)
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    width: 100%
    position: fixed
    z-index: 1000
    animation: fadeout 3s
    animation-fill-mode: forwards 
    img
        position: absolute
        width: 300px
        height: 50px
        top: 50%
        left: 50%
        margin: -25px 0 0 -150px
        z-index: 1000

#preloader
    position: absolute
    width: 400px
    height: 400px
    top: 50%
    left: 50%
    margin: -200px 0 0 -200px

#preloader-logo
    position: relative
    width: 400px
    height: 400px
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%)
    float: left
    text-align: center
    -webkit-animation: rotate-scale-up 3s linear 0.125s 1 both
    animation: rotate-scale-up 3s linear 0.125s 1 both
    z-index: 1
    img
        position: absolute
        z-index: 2
        top: 40%
        left: 1%

.page-wrapper
    z-index: 10000

.nav    
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .logo
        width: 230px
        padding: 15px
    .location
        background-color: rgb(234, 234, 234)
        width: 100%
        text-align: center
        color: rgb(53, 53, 53)
        font-size: 18px
        padding: 20px 0
        box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.06)
        i
            padding-right: 15px
            color: rgb(53, 53, 53)
.explore, .how-it-works
    margin-bottom: 50px
h2, p, button
    margin: 0
.explore
    background-color: rgb(246, 246, 246)
    padding: 30px
    text-align: center
    h2
        padding: 30px 0
    p
        font-size: 20px
        font-weight: 300
        padding: 30px 0
.how-it-works
    margin-left: 15px
    margin-right: 15px
    ol  
      list-style: none
      counter-reset: my-awesome-counter 
      li
        counter-increment: my-awesome-counter
        background-color: rgb(246, 246, 246)
        padding: 15px
        margin: 15px
        border-radius: 15px
        position: relative
        display: flex
        align-items: center
        &::before
            content: counter(my-awesome-counter)
            background: #9356DC
            width: 30px
            height: 30px    
            border-radius: 50%
            display: inline-block
            line-height: 30px
            color: white
            text-align: center
            margin-right: 50px
            position: absolute
            left: -12px
            top: 8px
        &:hover
            background-color: #9356DC25
            i
                color: #9356DC
        i
            padding: 0 20px
.restaurant-section
    background-color: rgb(246, 246, 246)
    padding-bottom: 50px
    h2
        padding: 50px 0 0 15px
    h2, h4
        font-weight: 800
        margin: 0
    .restaurant-listings
        display: flex
        flex-flow: row wrap
        .restaurant
            margin: 1em
            height: auto
            background-color: white
            border-radius: 1em
            position: relative
            overflow: hidden
            .restaurant-image
                text-decoration: none
                color: black
                .image-container
                    overflow: hidden
                    img
                        aspect-ratio: 2 / 1.1
                        object-fit: cover
                        transform: scale(1.1)
                        width: 100%
                        object-position: 0 60%
                        border-top-left-radius: 1em
                        border-top-right-radius: 1em    
                    .new
                        position: absolute
                        right: 1em
                        top: 1em
                        background-color: rgb(153, 226, 208)
                        color: rgb(0, 135, 102)
                        padding: .625em 2em
                        border-radius: .125em
                .restaurant-info
                    display: flex
                    padding: 1em
                    line-height: 1.5em
                    font-size: 1.25em
                    align-items: center
                    .restaurant-name-location
                        flex:3
                    .restaurant-name
                        font-size: 1.2em
                    .restaurant-location
                        font-weight: 300
                    .heart-position-container
                        align-self: center
                        .heart
                            padding-right: 1em
                            align-self: center
                            cursor: pointer
                            bottom: 1.75em
                            right: 0
                        .empty-heart
                            transition: 0.4s
                            position: absolute
                            z-index: 1
                            &:hover
                                opacity: 0
                        .full-heart
                            position: absolute
                            background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%)
                            color: transparent
                            background-clip: text
                            z-index: 10                         
                            transition: 0.4s
                            opacity: 0
                            &:hover
                                opacity: 1
                                
@-webkit-keyframes rotate-scale-up 
  0% 
    -webkit-transform: scale(1) rotateZ(0)
            transform: scale(1) rotateZ(0)
  
  50% 
    -webkit-transform: scale(.5) rotateZ(180deg)
            transform: scale(.5) rotateZ(180deg)
  
  100% 
    -webkit-transform: scale(1) rotateZ(360deg)
            transform: scale(1) rotateZ(360deg)

@keyframes rotate-scale-up 
  0% 
    -webkit-transform: scale(1) rotateZ(0)
            transform: scale(1) rotateZ(0)
  
  50% 
    -webkit-transform: scale(.5) rotateZ(180deg)
            transform: scale(.5) rotateZ(180deg)
  
  100% 
    -webkit-transform: scale(1) rotateZ(360deg)
            transform: scale(1) rotateZ(360deg)

@keyframes fadeout
    0%
        opacity: 1
    
    90%
        opacity: 1
        
    100%
        z-index: -1
        opacity: 0

@media screen and (min-width: 760px)
    .restaurant
        width: calc( 50% - 2em )
@media screen and (min-width: 992px)
    .main-info
        display: flex
        flex-direction: row
        .grey-background
            order: -1
            background-color: rgb(246, 246, 246)
            padding: 1em
        .how-it-works
            padding: 1em
            margin: 0
            background-color: white
            border-radius: 15px
            box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 25%)
        .explore
            flex: 3
            padding: 0
            margin-bottom: 0
    .restaurant-section
        background-color: unset
        padding-top: 1em
                    

    

    


