.navigation {
  background-color: rgb(243, 243, 243);
}
.navigation .nav-container {
  height: 75px;
}
.navigation .nav-container .nav-bar {
  position: relative;
  height: 75px;
}
.navigation .nav-container .nav-bar .nav-arrow i {
  position: absolute;
  left: 20px;
  top: 50%;
}
.navigation .nav-container .nav-bar .logo-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.navigation .nav-container .nav-bar .logo-container a {
  display: block;
}
.navigation .nav-container .nav-bar .logo-container a img {
  width: 200px;
}

.main .restaurant-image {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.main .restaurant-section {
  background-color: rgb(243, 243, 243);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
}
.main .restaurant-section .restaurant-info {
  padding: 20px;
  position: relative;
}
.main .restaurant-section .restaurant-info .restaurant-name {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
}
.main .restaurant-section .restaurant-info i {
  position: absolute;
  top: 36px;
  right: 30px;
}
.main .restaurant-section .menu {
  padding-left: 16px;
  padding-right: 16px;
}
.main .restaurant-section .menu h5 {
  font-weight: 100;
  position: relative;
  font-size: 16px;
}
.main .restaurant-section .menu h5:before {
  position: absolute;
  left: 0;
  top: 20px;
  height: 0;
  width: 40px;
  content: "";
  border-top: 3px solid #99E2D0;
}
.main .restaurant-section .menu .entree-section,
.main .restaurant-section .menu .main-section,
.main .restaurant-section .menu .dessert-section {
  display: flex;
  flex-flow: column;
  gap: 16px;
  margin-bottom: 30px;
}
.main .restaurant-section .menu .entree-section .menu-wrapper,
.main .restaurant-section .menu .main-section .menu-wrapper,
.main .restaurant-section .menu .dessert-section .menu-wrapper {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item {
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item .item-description,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item .item-description,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item .item-description {
  display: flex;
  flex-flow: column;
  flex: 3;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item .item-description h4,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item .item-description h4,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item .item-description h4 {
  line-height: 25px;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item .description,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item .description,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item .description {
  font-size: 13px;
  flex: 3;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item .price,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item .price,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item .price {
  padding-right: 10px;
  font-weight: 700;
  font-size: 14px;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item .selected-item,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item .selected-item,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item .selected-item {
  position: relative;
  right: -50px;
}
.main .restaurant-section .menu .entree-section .menu-wrapper .menu-item:hover > .selected-item,
.main .restaurant-section .menu .main-section .menu-wrapper .menu-item:hover > .selected-item,
.main .restaurant-section .menu .dessert-section .menu-wrapper .menu-item:hover > .selected-item {
  -webkit-animation: slide-left 1s forwards;
          animation: slide-left 1s forwards;
  color: white;
  background-color: #99E2D0;
  padding: 25px;
}
.main .restaurant-section .order-button {
  text-align: center;
}
.main .restaurant-section .order-button button {
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 60px;
  padding-right: 70px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
    margin-top: 2em;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    margin-top: 2em;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.menu-wrapper-2 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.menu-wrapper-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes slide-left {
  100% {
    right: 0;
  }
}
@keyframes slide-left {
  100% {
    right: 0;
  }
}/*# sourceMappingURL=retaurant_page_styles.css.map */