.navigation {
  background-color: rgb(243, 243, 243);
}
.navigation .nav-container {
  height: 75px;
}
.navigation .nav-container .nav-bar {
  position: relative;
  height: 75px;
}
.navigation .nav-container .nav-bar .nav-arrow i {
  position: absolute;
  left: 20px;
  top: 50%;
}
.navigation .nav-container .nav-bar .nav-arrow:visited {
  color: black;
}
.navigation .nav-container .nav-bar .logo-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.navigation .nav-container .nav-bar .logo-container a {
  display: block;
}
.navigation .nav-container .nav-bar .logo-container a img {
  width: 200px;
}

.bastille-image {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.le-gourmand-image {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.the-enchanted-plate-image {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.the-full-palette-image {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant-image {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  background-position: 0 50%;
}

.restaurant-section {
  background-color: rgb(243, 243, 243);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
}
.restaurant-section .restaurant-info {
  padding: 20px;
  position: relative;
}
.restaurant-section .restaurant-info .restaurant-name {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
}
.restaurant-section .restaurant-info .heart-position-container {
  align-self: center;
}
.restaurant-section .restaurant-info .heart-position-container .heart {
  cursor: pointer;
  position: absolute;
}
.restaurant-section .restaurant-info .heart-position-container .empty-heart {
  transition: 0.4s;
  z-index: 1;
  top: 36px;
  right: 30px;
}
.restaurant-section .restaurant-info .heart-position-container .empty-heart:hover {
  opacity: 0;
}
.restaurant-section .restaurant-info .heart-position-container .full-heart {
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 10;
  transition: 0.4s;
  opacity: 0;
  top: 34px;
  right: 30px;
}
.restaurant-section .restaurant-info .heart-position-container .full-heart:hover {
  opacity: 1;
}
.restaurant-section .menu {
  padding-left: 16px;
  padding-right: 16px;
}
.restaurant-section .menu h5 {
  font-weight: 100;
  position: relative;
  font-size: 16px;
}
.restaurant-section .menu h5:before {
  position: absolute;
  left: 0;
  top: 20px;
  height: 0;
  width: 40px;
  content: "";
  border-top: 3px solid #99E2D0;
}
.restaurant-section .menu .menu-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0;
  margin-top: 1em;
  margin-bottom: 2em;
}
.restaurant-section .menu .menu-wrapper .menu-item {
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  margin-bottom: 1em;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.restaurant-section .menu .menu-wrapper .menu-item .item-description {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  cursor: pointer;
}
.restaurant-section .menu .menu-wrapper .menu-item .item-description h4 {
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.restaurant-section .menu .menu-wrapper .menu-item .item-description .description {
  font-size: 13px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.restaurant-section .menu .menu-wrapper .menu-item .price-selected-item {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.restaurant-section .menu .menu-wrapper .menu-item:hover > .price-selected-item {
  -webkit-animation: slide-left 1s forwards;
          animation: slide-left 1s forwards;
}
.restaurant-section .menu .menu-wrapper .menu-item:hover > .price-selected-item .selected-item {
  display: block;
}
.restaurant-section .menu .menu-wrapper .menu-item:hover > .price-selected-item .selected-item i {
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
}
.restaurant-section .menu .menu-wrapper .menu-item .price {
  padding-right: 15px;
  font-weight: 700;
  font-size: 14px;
}
.restaurant-section .menu .menu-wrapper .menu-item .selected-item {
  position: relative;
  color: white;
  background-color: #99E2D0;
  padding: 25px;
  display: none;
}
.restaurant-section .order-button {
  text-align: center;
}
.restaurant-section .order-button button {
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 60px;
  padding-right: 70px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
    margin-top: 2em;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    margin-top: 2em;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.menu-wrapper-2 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.menu-wrapper-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes slide-left {
  0% {
    right: -30px;
  }
  100% {
    right: 0px;
  }
}
@keyframes slide-left {
  0% {
    right: -30px;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 760px) {
  .restaurant-image {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .restaurant-section .menu .menu-wrapper {
    flex-flow: row wrap;
    gap: 1em;
  }
  .restaurant-section .menu .menu-wrapper .menu-item {
    width: calc(50% - 0.5em);
  }
}
@media only screen and (min-width: 992px) {
  .restaurant-image {
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .restaurant-section .menu .menu-wrapper .menu-item {
    width: calc(33% - 0.55em);
  }
}/*# sourceMappingURL=retaurant_page_styles.css.map */